<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Blank Page</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="javascript:void(0)">Home</a>
        </li>
        <li class="breadcrumb-item">pages</li>
        <li class="breadcrumb-item active">Blank Page</li>
        </ol>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
